%h2 Listing Courses
%table{ :class => 'courses_table'}
	%thread
		%tr
			%th Name
			%th Description
			%th Location
			%th
			%th
			%th
	
	= render :partial => 'course', :collection => @courses

-if has_owner_privileges?
	= link_to 'New Course', new_admin_course_path

