<h1>Listing courses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render :partial => 'course', :collection => @courses %>
</table>

<br />

<% if has_owner_privileges?%>
	<%= link_to 'New Course', new_admin_course_path %>
<% end %>
